.side-bar {
    height: 100vh;
    width: 80px;
    background-color: #48b1b8;
}

.side-bar-utils {
    display: inline;
    list-style-type: none;
    padding: 2px;
}

.side-bar-utils li {
    float: left;
    width: 32px;
    padding: 20px;
}

.side-bar-utils li:hover {
    cursor: pointer;
    background-color: #7ac5cb;
}

.side-bar-icon {
    color: white;
    margin-left: auto;
    height: 24px;
    object-fit: cover;
}